.modal-add-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background-color: white;
    box-shadow: 24px;
    padding: 32px; /* 4 * 8px (Material-UI spacing unit) */
}

/* Detail Modal */
.modal-detail-box {
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 24px;
    padding: 32px;
}

/* Edit Modal */
.modal-edit-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    background-color: white;
    box-shadow: 24px;
    padding: 32px; /* 4 * 8px (Material-UI spacing unit) */
}